<div id="cardsView" data-role="view" data-style="inset" data-title="Customers" data-init="listViewCardsInit" data-model="cardsViewModel">
    <header data-role="header">
        <div data-role="navbar">
            <a id="buttonAddNewCard" data-role="button" href="views/addCardView.html" data-align="right">Add</a>
            <span data-role="view-title"></span>
        </div>
    </header>
    <ul id="cardsList" data-role="listview" data-style="inset" data-bind="source: cardsDataSource" data-template="cardsListTemplate">
    </ul>
</div>
<!--Weather forecast template-->
<script id="cardsListTemplate" type="text/x-kendo-template">
    <a href='views/singleCardView.html?bonusPoints=#= data['cm_mstr.cm_addr'] #&cardNumber=#= data['ad_mstr.ad_phone'] #&cardAmount=#= data['ad_mstr.ad_sort'] #' data-cardId="#= data['cm_mstr.cm_addr'] #" data-role="listview-link" class="j-listview-item">
        <div class="j-listview-item-content">
            <span>#= data['cm_mstr.cm_addr'] #</span>
            <span>#= data['ad_mstr.ad_sort'] #</span>
        </div>
</script>