<div id="cardsView" data-role="view" data-style="inset" data-title="Customers" data-init="listViewCardsInit" data-model="cardsViewModel">
    <header data-role="header">
        <div data-role="navbar">
            <a id="buttonAddNewCard" data-role="button" href="views/addCardView.html" data-align="right">Add</a>
            <span data-role="view-title"></span>
        </div>
    </header>
    <ul id="cardsList" data-role="listview" data-style="inset" data-bind="source: cardsDataSource" data-template="cardsListTemplate">
    </ul>
</div>
<!--Weather forecast template-->
<script id="cardsListTemplate" type="text/x-kendo-template">
    <div class="j-listview-item-content">
        <span>${cm_addr}</span>
        <span>${ad_sort}</span>
    </div>
</script>

