<div id="rewardsView" data-role="view" data-style="inset" data-title="TEAM EMERALD">
    <div class="card-line1">
       <span>Karl Nolan</span>
        <span>Elma Kane</span>
        <span>Fergal Flynn</span>
        <span>Denis O'Dwyer</span>
        <span>Caroline Collins</span>
        <span>Noel Gleeson</span>
        <span>David Hackett</span>
        <span>Lucia Sheehan</span>
         <span>----------------</span>
       <span> Featuring: TED (CHIEF)</span>
    </div>
    <div style="position: absolute;bottom: 15px;">
        <img src="images/TeamEmerald.jpg" />
    </div>

</div>